body
{
margin:0;
padding:0;
background:black url("/images/2-beautiful-plant.jpg") repeat center top;
background-attachment:fixed;
color:#fff;
font-family:Verdana;
font-variant:small-caps;
}

#container
{
position:relative;
margin:auto;
width:100%;
}
#header
{
opacity:0.1;
filter:alpha(opacity=0.1);
position:relative;
width:100%;
background-color:#010;
float:left;
font-color: gray;
}

#menu
{
opacity:0.4;
filter:alpha(opacity=40);
position:relative;
background-color:#888;
height:1310px;
width:115px;
font-weight:400;
float:left;
}

#content
{
opacity:0.8;
filter:alpha(opacity=80);
position:relative;
background-color:#999;
height:1310px;
width:777px;
float:left;
}

#page
{
clear:both;
background-color:#000;
width:100%;
}

#page ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

#page li
{
display:inline;
font-size: 10px;
}

#page li a:link,#page li a:visited
{
display:block;
font-weight:900;
text-align:center;
color:white;
margin:0;
padding-left:0px;
padding-right:0px;
text-decoration:none;
background-color:#030;
border-bottom:1px solid #000;
width:33.3%;
float:left;
}

#page li a:hover,#page li a:active
{
opacity:0.9;
filter:alpha(opacity=90);
background-color:#888;
}

#footer
{
opacity:0.4;
filter:alpha(opacity=40);
background-color:#888;
clear:both;
text-align:center;
}


.box-container
{
text-align:center;
}

.box
{
opacity:0.9;
filter:alpha(opacity=90);
border:0.1em solid #666;
background-color:#666;
padding:1em;
}
#try_this
{
position:absolute;
width:168px;
text-align:center;
left:4px;
top:4px;
}

#image_map
{
position:absolute;
left:175px;
top:4px;
width:250px;
margin:0;
text-align:left;
}

#circle
{
width:100px;
height:100px;
border:2px solid #666;
border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
background:#666;
position:absolute;
top:100px;
left:4px;
opacity:0.9;
filter:alpha(opacity=90);
}

a:link
{
color:yellow;
}
a:visited
{
color:orange;
}
a:hover
{
color:red;
}
a:active
{
color:green;
}
