/* YOUR CUSTOM STYLES */
/* .highlight {
	border: 1px solid #ccc;

} */

html *{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
    /* background-color: white; */
	border: 1px solid #ccc;
	border-radius: 4px;
}

p.first {
text-indent: 5em;
}

/* p{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

body {
	/* border-top:5px solid grey; */
    background-color: white;
}

#wrap {min-height: 100%;}

a:focus, a:active {
	outline: none !important;
}

main {
    /* padding-top: 4rem; */
    padding-bottom: 2rem;
}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content: "";

/* shadow top */
position: fixed;
top: -10px;
left: 0;
width: 100%;
height: 10px;

-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
             box-shadow: 0px 0px 10px rgba(0,0,0,.8);

z-index: 100;
/* /shadow top */

/* height:100%; */
float:left;
/* width:0; */
/* margin-top:-32767px; */
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.side-bar {
	padding-top: 5rem;
}

/* Timeline posts */
.post-item {
    margin-bottom: 25px;
    margin-left: 0px;
    position: relative;
    
}

.post-item .post-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}

.post-item .post-inner:before {
    border-right: 10px solid #ddd;
    border-style: solid;
    border-width: 10px;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
}

.post-item .post-inner:after {
    border-right: 10px solid #fff;
    border-style: solid;
    border-width: 10px;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
}

.post-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
}

.post-item:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.post-item .post-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.post-item .post-head .avatar {
    margin-right: 20px;
}

.post-item .post-head .user-detail {
    overflow: hidden;
}

.post-item .post-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.post-item .post-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
}

.post-item .post-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}

.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}

.post-item .post-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}

.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}

.post-img {
    min-height: 40px;
    max-height: 40px;
}
/* /.Timeline posts */