@import '~normalize.css';
@import '~prismjs/themes/prism.css';

@import url('//fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Lato:200');

@font-face {
  font-family: 'tofinoThin';
  src: url('../font/Tofino Thin.ttf');
}
@font-face {
  font-family: 'Fira Code';
  src: url('../font/FiraCode-Regular.otf') format('opentype');
}

//
// variable
// -----------------------------------------

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;

$fontSize: 16px;

$titleFontFamily: tofinoThin, "Alegreya Sans SC";
// $fontFamily: tofinoThin, "Raleway", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$fontFamily: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
$monospaceFontFamily: 'Fira Code', "PT Mono", Consolas, Monaco, Menlo, monospace;

$primaryColor: #5eccb6;
$bgColor: rgb(250,250,250);
$textColor: #555;
$linkColor: darken($primaryColor, 20);
$metaColor: #888;
$codeBgColor: #f9f9f9;

//
// common
// -----------------------------------------

// Remove selection border on mobiles
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


*::-moz-selection,
*::selection {
  color: white;
  background-color: lighten($primaryColor, 10);
}

body {
  // font
  font-family: $fontFamily;
  font-weight: 300;
  font-size: $fontSize;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  // size
  position: relative;
  // max-width: 700px;
  max-width: 1100px;
  // max-width: 80%;
  margin: 0 auto;
  padding: 0;
  background: $bgColor;
  color: $textColor;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  // font-family: $titleFontFamily;
  font-weight: 300;
}

code[class^="language-"], pre[class^="language-"] {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 300;
  tab-size: 2;
  font-family: $monospaceFontFamily;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // margin: 0 60px;
  // padding: 30px;
}

.post-title {
  // border-bottom: 1px rgba(120,120,120,0.2) solid;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  cursor: default;
  font-size: 50px;
  font-family: $titleFontFamily, $fontFamily;
  max-width: 100%;
}

.search-bar {
  text-align: center;
  border:none;
  background-color: $bgColor;
  transition: background-color 0.4s;
}

.search-bar:hover, .search-bar:focus, .search-bar:active {
  outline: none;
  background-color: darken($bgColor, 2);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $linkColor;
  overflow-wrap: break-word;
  word-break: break-all;
  &:hover {
    color: $primaryColor;
  }
}

.header {
  margin: 50px auto;
  text-align: center;
  a {
    font-size: $fontSize + 2;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: color 0.5s;
    // color: $textColor;
  }
}

.btn {
  cursor: default;
  display: inline-block;
  border: 0;
  line-height: 24px;
  padding: 0.6em 1em;
  margin: 0.5em;
  margin-bottom: 1em;
  outline: none;
  text-decoration: none;
  color: #666;
  transition: background-color 0.2s;

  span {
    margin-left: 7px;
    margin-right: 25px;
  }

  &:hover, &:active, &:focus {
    background-color: darken($bgColor,1);
    .arrow {
      background-color: darken($bgColor,1);
    }
  }
}

/* do not group these rules */
.title::-webkit-input-placeholder {
    color: $textColor;
}
.title:-moz-placeholder {
    /* FF 4-18 */
    color: $textColor;
}
.title::-moz-placeholder {
    /* FF 19+ */
    color: $textColor;
}
.title:-ms-input-placeholder {
    /* IE 10+ */
    color: $textColor;
}

//
// List View
// -----------------------------------------

.list-view {
  margin: 0 20px;
  ol,
  ul {
    padding: 0;
    list-style: none;
  }
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    // padding: 1em;
    // margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: $break-small) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: $break-medium) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: $break-large) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

.list-item {
  min-height: 160px;
  max-height: 160px;

  margin: 0 auto;
  // width: 75%;
  background-color: white;
  text-align: center;
  // border: 1px 1px 0px 0px $primaryColor solid;
  // padding: 20px;
  // padding-bottom: 20px;
  position: relative;
  margin-bottom: 40px;
  // box-shadow: 0px 0px 2px 2px rgba(150,150,150,0.1);
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    // box-shadow: 0px 0px 2px 2px rgba(100,100,100,0.15);
    box-shadow: 0px 0px 1px 1px rgba(150,150,150,0.15);

    .item-title {
      color: $linkColor;
      margin-top: 0;
      padding-top: 0;
    }
    // .item-property {
    //   max-height: 0px;
    //   transition: max-height 0.1s ease-out;

    // }
    .item-desc {
      text-align: center;
      display: block;
      overflow: hidden;
      max-height: 80px;
      transition: max-height 0.1s ease-in;
    }
  }
}

.item-property {
  overflow: hidden;
  transition: max-height 0.1s ease-in;
  max-height: 40px;
  margin: 0 5px;
  text-align: left;
  // border-bottom: 1px solid $primaryColor;
  .item-property__tag {
    font-size: 85%;
    display: inline-block;
    margin-right: 7px;
    &:before{
      content:  '•';
      color: darken($primaryColor, 20);
    }
  }
  .item-property__date {
    float: right;
    text-align: right;
    display: inline-block;
    font-size: $fontSize - 2;
    color: $metaColor;
    // border-left: 1px dotted $primaryColor;
    padding-top: 2px;
    cursor:default;
  }
}

.item-title {
  transition: all 0.2s;
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: $fontSize + 6;
  color: $textColor;
  &:hover {
    color: $linkColor;
  }
}

.item-desc {
  display: none;
  text-align: left;
  max-height: 0;
  padding:0 10px;
  text-overflow: ellipisis;
  overflow: hidden;
  white-space: nowrap;
  transition: max-height 0.2s ease-out;
}

//
// Post View
// -----------------------------------------

.post-view {
  margin: 0 50px;
  background-color: lighten($bgColor, 1);
  padding: 30px 100px;
  @media screen and (max-width: $break-medium) {
    margin: 0;
    padding: 30px 50px;
  }
}

.post-title {
  line-height: 1;
  margin-bottom: 50px;
}

// when smaller than tablet
@media (max-width: 767px) {
  .post-title {
    font-size: 1.5em;
  }
}

.post-date {
  float: right;
  font-size: $fontSize - 2;
  font-weight: 400;
  line-height: 2;
  color: $metaColor;
}

pre {
  background: $codeBgColor !important;
  padding: 10px 30px;
  margin: 20px;
  // padding: 16px;
  border-left: 1px dashed $primaryColor;
  border-radius: 15px;
  overflow-x: hidden;
  white-space: pre;
}

code {
  background: $codeBgColor;
  font-family: $monospaceFontFamily !important;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 3px 5px;
  border-radius: 4px;
}

blockquote {
  margin: 0;
  padding: 0 16px;
  border-left: 4px solid #ddd;
}

//
// CSS Icons
// -----------------------------------------

.icon {
  display: inline-block;
}

// arrow-left
.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: darken($primaryColor, 20);
}

.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px darken($primaryColor, 20);
  border-right: solid 1px darken($primaryColor, 20);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}


// arrow-right
.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 16px;
  height: 1px;
  background-color: darken($primaryColor, 20);
}

.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px darken($primaryColor, 20);
  border-right: solid 1px darken($primaryColor, 20);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

//
// Transition animation
//
// -----------------------------------------
.fade-enter-active, .fade-leave-active {
  transition: all 0.5s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.flip-list-move {
  transition: transform 1s;
}
