class {
  onCreate () {
    this.state = {
      count: 0
    }
  }
  increment () {
    this.state.count++
  }
}

h1 -- Hello ${input.name.toUpperCase()}
button on-click('increment') -- Add ${state.count}
