/**
 * Grid columns. This setting is shared between
 * iotaCSS grid objects and size, pull & push
 * utilities. You can change it also locally to
 * each module.
 *
 * Type: Unitless Number / List
 */
/**
 * Global namespace for Objects, Components and 
 * Utilities
 *
 * Type: String
 */
/**
 * Default gutters. This setting is shared between
 * multiple objects and utilities as the default value
 * for gutters. You can change it also locally to each
 * module.
 *
 * Type: Number / List / Map
 */
/**
 * Enables flexbox across the app. If you do not want
 * all modules to use flexbox you can keep this value
 * false and set it to true separately to each one of
 * them locally.
 *
 * Type: Boolean
 */
/**
 * Enables rtl across the app. If you enable this setting
 * the final CSS will be converted to RTL.
 *
 * Type: Boolean
 */
/**
 * Default global breakpoints map. These are the
 * default breakpoints map that will be shared across
 * all iotaCSS modules. You can change it also locally
 * to each module.
 *
 * Type: Map
 */
/**
 * Global breakpoint suffix naming setting. All breakpoint
 * specific styles have a '@breakpointName' suffix by default.
 * The \ character is used to escape the @ character.
 *
 * Type: String
 */
/**
 * Global delimiter naming setting for Size, Push and Pull
 * utilities. By default it is '/' (.u-1/2) and you can change
 * it for example to 'of' so that the generated HTML class will be
 * 'u-1of2'.
 *
 * Type: String
 */
@import url(https://fonts.googleapis.com/css?family=Questrial|Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/**
 * The base value the scale starts at.
 *
 * Number
 */
/**
 * The ratio the scale is built on
 *
 * Unitless Number
 */
/**
 * Length of scale ( right part of the decimal
 * point ) ms will be rounded to.
 *
 * Unitless Number
 */
/**
 * Global box sizing option
 *
 * Type: String
 */
/**
 * Makes all heading tags ( h1 - h6 ) to be equal
 * to your body size.  It forces you to use heading
 * tags with focus on your semantics and not on the
 * way they look.
 *
 * Type: Boolean
 */
/**
 * Enables normalize and resets for the HTML4 form
 * elements
 *
 * Type: Boolean
 */
/**
 * Enables normalize and resets for the HTML5 form
 * elements
 *
 * Type: Boolean
 */
/**
 * A modern, elegant and minimal combination of Normalize.css and
 * CSS Reset. Compatible with IE10+.
 */
/**
 * 1. Sets box-sizing to border-box by default.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 3. Makes font thinkness to look the same in Firefox and Webkit.
 */
html {
  box-sizing: border-box;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 */ }

/**
 * Simple reset of element margin and padding
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre, code,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Sets box-sizing to all elements and before / after
 */
*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Fixes the issues of main HTML5 tag with even earlier versions of IE.
 * For IE9-, please use HTML5Shiv https://github.com/aFarkas/html5shiv.
 */
main {
  display: block; }

/**
 * Sets heading font-size to be equal to the content font-size. Encourages
 * the use of different heading elements to define the position of the heading
 * in the document and not the heading look.

 * Opinionated and disabled by default.
 */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

/**
 * Applies a bold font weight to strong instead of the default bolder
 */
strong {
  font-weight: bold; }

/**
 * Removes default border spacing and collapse
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Removes border from images inside links
 * 2. Helps images to properly behave in responsive layouts
 */
img {
  border-style: none;
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 2 */
  vertical-align: middle;
  /* 2 */ }

/**
 * 1. Removes text decoration from links.
 * 2. Sets default link color same as the content color.
 * 3. Removes default grey background in IE10.
 * 4. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  /* 1 */
  color: inherit;
  /* 2 */
  background-color: transparent;
  /* 3 */
  -webkit-text-decoration-skip: objects;
  /* 4 */ }

body {
  font-family: "Questrial", "san-serif";
  font-size: 16px;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Questrial", "Titillium Web", "san-serif";
  font-weight: normal;
  font-size: 125%; }

body {
  color: #55585e;
  overflow-y: scroll; }

h1, h2, h3, h4, h5, h6 {
  color: #000; }

/**
 * Allows you to change the default container name
 * from .o-container.
 *
 * Type: String
 */
/**
 * Allows you to specify the default set of padding
 * left and right of your container. You can use a
 * map in case you would like to specify responsive
 * gutter sizes.
 *
 * Type: Number / List / Map
 */
/**
 * Allows you to specify more sets of padding left and
 * right of your container. You can use a nested map in
 * case you would like to specify responsive gutter sizes.
 *
 * Type: Map
 */
/**
 * Allows you to specify the default max-width of your
 * container. You can use a map in case you would like
 * to specify a responsive size.
 *
 * Type: String / Map
 */
/**
 * Allows you to specify more sets of max-width for your
 * container. You can use a nested map in case you would
 * like to specify a responsive size.
 *
 * Type: Map
 */
.o-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 1000px; }

/**
 * Enable / Disable aligment modifiers.
 * .o-grid--right : Align columns on right horizontally
 * .o-grid--center : Align columns on center horizontally
 * .o-grid--middle : Align columns on middle vertically
 * .o-grid--bottom : Align columns on bottom vertically
 *
 * Type: Boolean
 */
/**
 * Enable / Disable reversed modifier
 * .o-grid--rev : Reverse columns order
 *
 * Type: Boolean
 */
/**
 * Default gutter size. Use a number for a single size or
 * a map for a responsive size.
 *
 * Type: Number / Map 
 */
/**
 * Extra gutters map. Each gutter size will be available as a
 * modifier that will be named according to the gutter name.
 * Each gutter size will be available as a modifier that will
 * be named according to the gutter name.
 * E.g. If $iota-objs-grid-gutter-extra: ('compact': '10px');
 * then .o-grid--compact will be available for use.
 *
 * Type: Map
 */
/**
 * Enable / Disable flexbox on grid.
 * 
 * Type: Boolean
 */
/**
 * Enable / Disable equal height modifier .o-grid--equal-height.
 * Works only if $iota-obj-grid-flex is enabled.
 *
 * Type: Boolean
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.o-grid {
  margin-left: -10px;
  list-style: none;
  box-sizing: border-box; }
  .o-grid > .o-grid__col {
    padding-left: 10px;
    width: 100%;
    box-sizing: inherit; }

.o-grid {
  display: flex;
  flex-flow: row wrap; }
  .o-grid > .o-grid__col {
    box-sizing: inherit;
    flex-basis: auto;
    min-width: 0; }

/**
 * Enable / Disable block modifier. .o-list--block : Each list
 * item will have display block with a bottom margin.
 *
 * Type: Boolean
 */
/**
 * Enable / Disable inline modifier. .o-list--inline Each list
 * item will have display inline-block with a right margin.
 *
 * Type: Boolean
 */
/**
 * Enable / Disable span modifier. .o-list--span : Each list
 * item will have display table-cell with a border spacing so
 * that they never wrap to a new row.
 *
 * Type: Boolean
 */
/**
 * Default gutter size. Use a number for a single size or
 * a map for a responsive size.
 *
 * Type: Number / Map
 */
/**
 * Extra gutters map. Each gutter size will be available
 * as a modifier that will be named according to the gutter
 * name. E.g. If $iota-objs-list-gutter-extra: ('compact': '10px');
 * then .o-list--compact will be available for use.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.o-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .o-list > .o-list__item {
    vertical-align: top; }

/**
 * Enable / Disable aligment modifiers.
 * .o-media--middle Align columns at middle vertically
 * .o-media--bottom Align columns at bottom vertically.
 *
 * Type: Boolean
 */
/**
 * Enable / Disable reversed modifier
 * .o-media--rev Reverse columns order
 *
 * Type: Boolean
 */
/**
 * Default gutter size. Use a number for a single size or
 * a map for a responsive size.
 *
 * Type: Number / Map
 */
/**
 * Extra gutters map. Each gutter size will be available as
 * a modifier that will be named according to the gutter name.
 * Use a map for a single size or a nested map for a responsive
 * size. E.g. If $iota-objs-media-gutter-extra: ('compact': '10px');
 * then .o-media--compact will be available for use.
 *
 * Type: Map
 */
/**
 * Enable / Disable flexbox
 *
 * Type: Boolean
 */
/**
 * Enable / Disable responsive modifier.
 * .o-media--res Collapse fluid section bellow fixed one,
 * at a specific max-width breakpoint.
 *
 * Type: Boolean
 */
/**
 * Specify max-width for breakpoint to collapse at.
 *
 * Type: Number
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.o-media {
  display: flex;
  align-items: flex-start; }
  .o-media > .o-media__fixed {
    padding-right: 10px; }
  .o-media > .o-media__fluid {
    flex: 1; }

/**
 * Allows you to change the default type name from .o-type-.
 * 
 * Type: String
 */
/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */
/**
 * Enable / Disable breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Override breakpoints map only for align utility
 *
 * Type: Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-aligntop {
  vertical-align: top !important; }

.u-alignbottom {
  vertical-align: bottom !important; }

.u-alignmiddle {
  vertical-align: middle !important; }

.u-alignbaseline {
  vertical-align: baseline !important; }

/**
 * Background color names
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-cf:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Color names
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for display utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-flex {
  display: flex !important; }

.u-block {
  display: block !important; }

.u-hidden {
  display: none !important; }

.u-inline {
  display: inline !important; }

.u-inline-block {
  display: inline-block !important; }

/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for float utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-float-left- {
  float: left !important; }

.u-float-right- {
  float: right !important; }

/**
 * Margin default gutter. Use a number for a simple size
 * and a map for responsive.
 *
 * Type: Number / Map
 */
/**
 * Margin extra gutters.
 *
 * Type: Map
 */
/**
 * Enables / Disables responsive classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for margin utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-m {
  margin: 10px !important; }

.u-mt {
  margin-top: 10px !important; }

.u-mr {
  margin-right: 10px !important; }

.u-mb {
  margin-bottom: 10px !important; }

.u-ml {
  margin-left: 10px !important; }

.u-mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.u-mh {
  margin-right: 10px !important;
  margin-left: 10px !important; }

/**
 * Opacity sizes
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
/**
 * Padding default gutter. Use a number for a simple size
 * and a map for responsive.
 *
 * Type: Number / Map
 */
/**
 * Padding extra gutters.
 *
 * Type: Map
 */
/**
 * Enables / Disables responsive classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for padding utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-p {
  padding: 10px !important; }

.u-pt {
  padding-top: 10px !important; }

.u-pr {
  padding-right: 10px !important; }

.u-pb {
  padding-bottom: 10px !important; }

.u-pl {
  padding-left: 10px !important; }

.u-pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.u-ph {
  padding-right: 10px !important;
  padding-left: 10px !important; }

/**
 * Enable / Disable breakpoint specific classes
 * 
 * Type: Boolean
 */
/**
 * Overrides breakpoints map only for position utility
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-absolute {
  position: absolute !important; }

.u-fixed {
  position: fixed !important; }

.u-relative {
  position: relative !important; }

.u-static {
  position: static !important; }

/**
 * Namespace classes
 *
 * Type: String
 */
/**
 * Size delimiter. Defaults to \/. Ex: .u-pull-1/3
 *
 * Type: String
 */
/**
 * Columns to populate pull utility for
 *
 * Type: Unitless Number / List
 */
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Allows you to create breakpoints only
 * for the pull responsive utility.
 *
 * Type: Map
 */
.u-pull-1\/2 {
  margin-right: 50% !important; }

.u-pull-1\/3 {
  margin-right: 33.33333% !important; }

.u-pull-2\/3 {
  margin-right: 66.66667% !important; }

.u-pull-1\/6 {
  margin-right: 16.66667% !important; }

.u-pull-2\/6 {
  margin-right: 33.33333% !important; }

.u-pull-3\/6 {
  margin-right: 50% !important; }

.u-pull-4\/6 {
  margin-right: 66.66667% !important; }

.u-pull-5\/6 {
  margin-right: 83.33333% !important; }

/**
 * Namespace classes
 *
 * Type: String
 */
/**
 * Size delimiter. Defaults to \/. Ex: .u-push-1/3
 *
 * Type: String
 */
/**
 * Columns to populate push utility for
 *
 * Type: Unitless Number / List
 */
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Allows you to create breakpoints only
 * for the push responsive utility.
 *
 * Type: Map
 */
.u-push-1\/2 {
  margin-left: 50% !important; }

.u-push-1\/3 {
  margin-left: 33.33333% !important; }

.u-push-2\/3 {
  margin-left: 66.66667% !important; }

.u-push-1\/6 {
  margin-left: 16.66667% !important; }

.u-push-2\/6 {
  margin-left: 33.33333% !important; }

.u-push-3\/6 {
  margin-left: 50% !important; }

.u-push-4\/6 {
  margin-left: 66.66667% !important; }

.u-push-5\/6 {
  margin-left: 83.33333% !important; }

/**
 * Size utility delimiter. Default to \/. Ex: .u-1/3.
 *
 * Type: String
 */
/**
 * Size utility columns list
 *
 * Type: List
 */
/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for margin utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 * 
 * Type: String
 */
.u-1\/2 {
  width: 50% !important; }

.u-2\/2 {
  width: 100% !important; }

.u-1\/3 {
  width: 33.33333% !important; }

.u-2\/3 {
  width: 66.66667% !important; }

.u-3\/3 {
  width: 100% !important; }

.u-1\/6 {
  width: 16.66667% !important; }

.u-2\/6 {
  width: 33.33333% !important; }

.u-3\/6 {
  width: 50% !important; }

.u-4\/6 {
  width: 66.66667% !important; }

.u-5\/6 {
  width: 83.33333% !important; }

.u-6\/6 {
  width: 100% !important; }

/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Overrides breakpoints map only for position utility
 * 
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-text-center {
  text-align: center !important; }

/**
 * Enables / Disables breakpoint specific classes
 *
 * Type: Boolean
 */
/**
 * Breakpoints map. Overrides the breakpoints map only
 * for margin utility.
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.u-capitalize {
  text-transform: capitalize !important; }

.u-uppercase {
  text-transform: uppercase !important; }

.u-lowercase {
  text-transform: lowercase !important; }

/**
 * Weight sizes
 *
 * Type: Map
 */
/**
 * Namespace classes
 *
 * Type: String
 */
.c-app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%; }

.c-list {
  min-height: 400px;
  overflow: auto; }

.c-searchbar__input {
  background: #eee;
  border: none;
  border-radius: 2px;
  padding: 4px; }
  .c-searchbar__input:focus {
    outline: none; }

/*# sourceMappingURL=main.scss.map */