body {
  font-family: $font-paragraph;
  font-size: 16px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  font-family: $font-heading;
  font-weight: normal;
  font-size: 125%;
}

li {
  line-height: 2;
}